.game-header {
  display: flex;
  width: 60vw;
  height: 14vh;
  background-color: white;
  margin: 0px;

  .logo {
    font-size: 60px;
    font-weight: 800;
    margin-top: 1vh;
    margin-left: 31px;
    color: rgba(54,44,115,1);
    align-self: center;
  }
}

.modalHeader {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  .button {
    width: auto;
  }
}

@media (min-width:1025px) {
  .game-header{
    margin-left: 10%;
  }
}