.vs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;

    img {
        object-fit: cover;
        height: 16vh;
    }

    .charName {
        height: 2vh;
        font-size: 1.2rem;
    }

    .opponent {
        height: 100%;
        width: 20vh;
        text-align: center;

        p {
            height: 16vh;
            margin-bottom: 0;
        }
    }

    .user {
        height: 100%;
        width: 20vh;
        text-align: center;
    }

    &-withoutChat {
        height: 86vh;
        flex-direction: column;
        padding-top: 20%;

        img {
            object-fit: cover;
            height: 30vh;
        }
        .charName {
            height: 2vh;
            font-size: 1.2rem;
        }
    
        .opponent {
            text-align: center;
            align-self: center;
    
            p {
                height: 30vh;
                margin-bottom: 0;
            }
        }
    
        .user {
            text-align: center;
            align-self: center;
        }
    }
}