.vs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;

    img {
        object-fit: cover;
        height: 16vh;
    }

    .charName {
        height: 2vh;
        font-size: 1.2rem;
    }

    .opponent {
        height: 100%;
        width: 20vh;
        text-align: center;

        p {
            height: 16vh;
            margin-bottom: 0;
        }
    }

    .user {
        height: 100%;
        width: 20vh;
        text-align: center;
    }
}