.vs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;

    .opponent {
        background-color: lightgreen;
        height: 100%;
        width: 20vh;
    }

    .user {
        background-color: lightblue;
        height: 100%;
        width: 20vh;
    }
}