.choose-character-outer {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;

    .choose-character-inner {
        display: inline-flex;
        justify-content: space-around;
        width: 100%;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            margin-left: 10vw;
            h1 {
                margin-bottom: 2vh;
                width: 60%;
                margin: 2rem auto;
            }
            button {
                font-size: 24px;
                width: 60%;
                margin: 0 auto;
            }
        }

        .personnage {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-right: 10vw;
            width: 50%;
            img {
                object-fit: contain;
                height: 35vh;
                margin-bottom: 2rem;
            }
            :hover {
                cursor: pointer;
            }
            span {
                text-align: left;
                margin: 1rem auto;
                padding: 0 1rem;
                font-size: 15px;
                width: 80%;
            }

            .characterChange {
                color: rgba(181, 181, 181, 1);
                text-decoration: underline;
                font-weight: 400;
                margin-top: 2rem;
            }
        }

    }
}

@media (min-width:1025px) {
    .text {
    }
}