.surrender {
    position: absolute;
    right: 3vw;
    bottom: 2vh;
    font-size: 15px;
    line-height: 15px;
    color: #B5B5B5;
    text-align: end;
    text-decoration: underline;
}

.surrenderModal {
    text-align: center;
}