.surrender {
    font-size: 15px;
    line-height: 15px;
    color: #B5B5B5;
    text-align: end;
    margin-right: 2vw;
    margin-top: 1vw;
    text-decoration: underline;
}

.surrenderModal {
    text-align: center;
}