.grid {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  overflow: hidden;
  padding-bottom: 8%;
}

@media (min-width: 1025px) {
  .grid {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0;
  }
}
