.grid {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 0;
  overflow: hidden;
}

.character {
  width: 10vw;
  height: 12vw;
  margin: 1% 1%;
  background-color: lightgreen;
}