.grid {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 2vh;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .grid {
    height: 80%;
  }
}
