.home {
    width: 100vw;
    height: 100vh;
    background-image: url('./QSI_HS_BGx2.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-basis: 100vw;
    .logo {
        height: 30vh;
        width: 30vw;
        align-self: center;
        object-fit: contain;
    }

    .description {
        position: absolute;
        top: 5vh;
        right: 5vw;
        font-size: 15px;
        width: 30vw;
        text-align: right;
        color: rgba(54, 44, 115, 0.5);
    }

    .homeLink {
        position: absolute;
        bottom: 5vh;
        left: 5vw;
        width: 25vw;
    }

    .topLeft {
        position: absolute;
        top: 5vh;
        left: 5vw;
        width: 30vw;
        height: 40vh;
        object-fit: contain;
    }

    .bottomRight {
        position: absolute;
        bottom: 5vh;
        right: 5vw;
        width: 30vw;
        height: 40vh;
        object-fit: contain;
    }

    .refuge {
        font-weight: 400;
        color: rgba(54,44,115,1);
    }
}