.spielact-game {
    position: relative;
    left: 5%;
    bottom: 2%;

    p {
        font-size: 15px;
        line-height: 15px;
        color: #B5B5B5;
        text-align: start;
        margin: 0;

        a {
            color: #B5B5B5;
            text-decoration: underline;
        }
    }
}

@media (min-width:1025px) {
    .spielact-game {
        position: relative;
        bottom: -2.5%;
    }
}