.spielact-game {
    position: absolute;
    left: 3vw;
    bottom: 2vh;

    p {
        font-size: 15px;
        line-height: 15px;
        color: #B5B5B5;
        text-align: start;
        margin: 0;

        a {
            color: #B5B5B5;
            text-decoration: underline;
        }
    }
}