.rooms {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-image: url(./QSI_blop_2.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 65%;

    h1,
    .rooms-list,
    .own-room {
        width: 40vw !important;
        margin: 1vh auto !important;
    }

    .rooms-list {
        display: inline-flex;
        justify-content: space-around;
        margin-bottom: 7vh;
        height: 22vh;

        .initiale {
            font-weight: 800;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            span {
                border-radius: 50%;
                border: 2px solid rgba(0, 0, 0, 0.2);
                font-size: 72px;
                align-self: center;
                height: 11vw;
                width: 11vw;
                margin: 2vh;
                text-align: center;
                justify-self: center;
                align-self: center;
            }

            .subtitle {
                align-content: center;
                text-align: center;
                height: 20%;
            }
        }

    }

    .own-room {
        h1 {
            text-align: center;
            color: #fff;
            text-shadow: #b5b5b5 0 0 1px;
        }
    }

    .refresh {
        width: 20vw;
        margin: 2vh auto;
        text-align: center;
        font-size: 15px;
        color: rgba(181, 181, 181, 1);
        text-decoration: underline;
    }
}

.rooms-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2vh !important;
    text-align: center;

    .button-modal {
        align-self: center;
    }
}

.redirected {
    padding: 2vh;
}


@media (min-width:1025px) {
    .rooms {
        background-size: 40%;

        .rooms-list,
        .own-room {
            width: 30vw !important;
        }

        h1 {
            width: 25vw!important;
        }
        .rooms-list .initiale span {
            height: 7vw;
            width: 7vw;
        }
    }
}