.join {
  display: flex;
  width: 30vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  .light {
    color: rgba(181,181,181,1);
    margin: 2vh;
    font-size: 15px;
  }
}