.form {
  display: flex;
  bottom: 0px;
  margin: 15px;
  background-color: #FFF;
  border-radius: 5px;
}

.input {
  border: none!important;
  border-radius: 0;
  padding: 3%;
  width: 80%;
  font-size: 1.2vw;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #4D54BF;
  display: inline-block;
  border: none;
  width: 30%;
  font-size: 1.2vw;
  border-radius: 0 5px 5px 0;
}

.switch-chat-off {
  font-size: 1rem;
}
