$color-blue: rgb(89, 89, 235);

body {
  font-size: 1.5vw;
  font-family: 'filson-soft';
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;

  .button {
    color: #fff !important;
    text-decoration: none;
    background: rgba(77,84,191,1);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    margin: 1vh;
  }

  input[type=text] {
    border: none;
    border-bottom: 2px solid $color-blue;
    width: 100%;
    margin: 1vh;
  }

  h1 {
    color: rgba(54,44,115,1);
    font-size: 24px;
  }

  p {
    color: rgba(54,44,115,0.5)
  }
}