$color-blue: rgb(89, 89, 235);

body {
  font-size: 1.5vw;
  font-family: 'filson-soft';
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;

  .button {
    color: #fff !important;
    text-decoration: none;
    background: rgba(77, 84, 191, 1);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    margin: 1vh;
  }

  .button-modal {
    color: #fff;
    width: 80%;
    text-decoration: none;
    background-color: #4d54bf;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    margin: 1vh;
  }

  input[type=text] {
    border: none;
    border-bottom: 2px solid $color-blue;
    width: 100%;
    margin: 1vh;
  }

  h1 {
    color: rgba(54, 44, 115, 1);
    font-size: 24px;
  }

  p {
    color: rgba(54, 44, 115, 0.5)
  }

  .hover {
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(156, 156, 156, 0.5);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #978f8f;
  }
}