.character {
  width: auto;
  height: 95px;
  margin: 1% 2%;
  text-align: center;

  img {
    object-fit: cover;
    height: 100%;
  }

  .overlay {
    height: 95px;
    width: 95px;
    z-index: 10;
    bottom: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
  }

  .display-wrong {
    background-color: rgba(255, 0, 0, 0.2);
  }

  .display-innocent {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .characterName {
    position: relative;
    bottom: 100%;
    max-width: 150px;
    width: 16vh;
  }

}

@media (min-width: 1025px) {
  .character {
    height: 16vh;
    margin: 0;
    max-height: 115px;
    max-width: 115px;

    .overlay {
      display: block;
      height: 16vh;
      width: 16vh;
      max-height: 115px;
      max-width: 115px;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (min-width: 1355px) {
  .character {
    margin: 0 14px;
    max-height: 150px;
    max-width: 150px;

    .overlay {
      max-width: 150px;
      max-height: 150px;
    }
    
  }
}