.character {
  width: 10vw;
  height: 12vw;
  margin: 1% 1%;
  text-align: center;

  img{
    object-fit: cover;
    height: 80%;
  }

  .display-wrong {
    border: 2px solid red;
  }

  .display-innocent {
    border: 2px solid gray;
  }
}

@media (min-width: 1025px) {
  .character {
    height: 20vh;
    width: 13vw;
    margin: 0;
    p {
      font-size: 18px;
      margin: 0;
    }
  }
}
